<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>peS7ftC5TB+Uf4QBiD2TSpqB/tYmym3opFHx5uWyMEX8YTraJ1JywH6emZBJiq/m8PUXd2qvZ+GMZsPLr/GRZuTtnMS6a3snFIAAG3mM7D6Ri+Xgd0nAlCtyr+j7IbkRJaV/lkOmYnVSc7kfucLmY/g2RzZA8GrhcySuLDgOe5s=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>qPgilWRvxaWhd3KUWeLm/juSZYXk4yHDXSUHhz/q3vWHp4IRIl1g9KGVDtESml1wJBrgVQqoa7GMi0Jo+4BYLWoFvyC37VyaqwSVx3V3CaAjCZZ71gDi+ouaxhc0DFwFDRMDOVPtfF4Z3WIWRnnvyujF21zlaU9OwlA7jQ36mfY+J43i4FuxaFhJnWaIQDJEL6LAqfzzMvZNqk8D/FWlEAuOZu1iy5CTjXTg2qSjBDs=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  

</configuration>